* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 body {
    background: rgb(0, 188, 175);
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 6px;
}

.wrapper .title {
    line-height: 80px;
    background:  rgb(0, 118, 110);
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color:rgb(0, 118, 110);
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    padding-left: 100px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3 ease;
}

form .row input:focus {
    border-color:  rgb(0, 118, 110);
    box-shadow:inset 0px 0px 2px 2px rgba(26,188,1,0.25);
}

.wrapper form .row label {
    position: absolute;
    width: 80px;
    height: 100%;
    color: #fff;
    font-size: 15px;
    background: rgb(0, 118, 110);
    border: 1px solid  rgb(0, 118, 110);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .button input {
    padding-left: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    background:  rgb(0, 118, 110);
    border: 1px solid  rgb(0, 118, 110);
    cursor: pointer;
}

form .button input:hover {
    background: rgb(0, 79, 74);
}

.wrapper form .signup-link {
   text-align: center;
   margin-top: 20px;
   font-size: 17px;
}

.wrapper form .signup-link a {
    color:rgb(0, 118, 110);
   
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}


